@charset 'utf-8';

@import 'milligram-cssnext';


:root {
  --font-family: Arial, 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'Yu gothic', 游ゴシック, メイリオ, Meiryo, sans-serif;
  --color-primary: #2980b9;
  --color-accent: #e74c3c;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  /* Background pattern from subtlepatterns.com */
  background: url(../img/asanoha-400px.png);
}

input[type='text'] {
  background: #fff;
}

.progress {
  display: flex;

  & > li {
    color: var(--color-primary);
    flex: 1;
    border-bottom: 1px solid var(--color-primary);
    & ~ li {
      margin-left: 1rem;
    }
    &.current {
      pointer-events: none;
      border-bottom-color: var(--color-accent);
      position: relative;
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0;
        bottom: -10px;
        transform-origin: right 1px;
        border: 1px solid transparent;
        border-top-color: inherit;
        border-right-color: inherit;
        transform: rotate(45deg);
      }
      &, & a {
        color: var(--color-accent);
      }
      
    }
    &.current ~ li {
      border-bottom-color: #999;
      &, & a {
        pointer-events: none;
        color: #999;
      }
    }
  }
}

.spinner {
  display: inline-block;
  &:matches(img, span) {
    vertical-align: middle;
  }
}
