@charset 'utf-8';

@import '~milligram-scss';

$font-family: Arial, 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'Yu gothic', 游ゴシック, メイリオ, Meiryo, sans-serif;
$primary-color: #2980B9;
$second-color: #E74C3C;
body {
  font-family: $font-family;
  font-weight: normal;
  background-color: #f8f8f8;
}

a {
  color: $primary-color;
  &:hover {
    color: lighten($primary-color, 5%);
  }
}

hr {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  font-family: $font-family;
  background-color: $primary-color;
  border-color: darken($primary-color, 5%);
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  background-color: #fff;
  &:focus {
    border-color: $primary-color;
  }
}

input[type='button'], input[type='reset'], input[type='submit'] {
  &:disabled {
    opacity: .5;
    cursor: auto;
  }
}

.progress {
  display: flex;
  justify-content: space-between;
  > li {
    flex: 1;
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
    // margin: 0 1rem;
    & ~ li {
      margin-left: 1rem;
    }
    > a {
      display: block;
    }
    &.current {
      border-bottom-color: $second-color;
      pointer-events: none;
      &, > a {
        color: $second-color;
      }
      a {
      }
    }
    &.current ~ li {
      border-bottom-color: #999;
      color: #999;
      pointer-events: none;
      > a {
        color: #999;
      }
    }
  }
}

.spinner {
  display: inline-block;
  img, span {
    vertical-align: middle;
  }
}
